body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}
.bg-light {
  background-color: $white!important;
}
.logo-size {
max-height: 80px;
}
.nav-bar-shadow {
  box-shadow: 0 3px 6px -2px $black-menu-shadow;
}